header {
color: red
}
body {
background-image: url(<img src="https://www.google.co.nz/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwiA4d6JxdbWAhWLgbwKHb-OATAQjRwIBw&url=http%3A%2F%2Fwww.cartoonson.com%2Fcartoons%2Fview%2Fid%2Frick-and-morty-tv-series&psig=AOvVaw3925gfseRotTG2SzeG-3Ll&ust=1507191776705751"/>)
}
h3 {
text-transform: capitalize
}
