header {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
}
h3 {
  font-family: cursive;
  font-size: 25;
}
p {
  background-color: black;
  color: green;
  text-align: center;
}
