
header {
  margin-top: 8%;
  text-align: center;
  text-transform: capitalize;
  font-size: 70px;
  color: Black;
  font-family: Palatino;
}

.bigbox {
  height: 800px;
  width: 80%;
  margin-left: 10%;
  margin: right:10%;
  margin-top: 12%;
}
.box {
  border-style: solid;
  border-color: black;
  width: 90%;
  height: 27%;
  margin-bottom: 10px;
  margin-left: 20px;
}
.left-bb{
  border-right-style: dotted;
  float:left;
  padding:10px;
  width:24%;
}
.right-bb{
  float:left;
  width: 40%;
  margin-left: 20px;
}

.pics {
  width:120px;
}
h3 {
  font-family: cursive;
  font-size: 55px;
}
body {
  background-color: rgba(59, 255, 76, 0.51);
}
p {
  color: black;
  font-size: 20px;
}
li {
  font-size: 25;
  font-weight: bold;
}
#bigbox{
  width: 950px;
  height: 550px;
  padding: 10px;
}
#square1{
  float: left;
  background-color: blue;
  width: 300px;
  height: 500px;
  margin-top: 20px;
  padding:10px;
}
#square2{
  float:left;
  background-color: red;
  width:300px;
  height:500px;
  margin-top: -520px;
  margin-left: 320px;
  padding:10px;
}
#square3{
  float:right;
  background-color: yellow;
  width:300px;
  height: 240px;
}
